.content {
    margin: 24px 16px 0;
    border-radius: 5px;
}

.main {
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.title {
    text-align: center;
}

.button {
    text-align: center;
}
