.title {
    text-align: center;
}

.text {
    font-size: 18px;
}

.characters {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    &__button {
        text-align: center;
    }

    &List {
        justify-content: center;
        display: flex;
        gap: 1em;
        flex-wrap: wrap;
    }
}
