.header {
  width: 100%;
  // background: #fff;
  display: flex;
  justify-content: flex-end;
}

.title {
  text-align: center;
  flex: 0 0 40%;
  color: #ffffff;
  font-weight: 300;
  font-size: 36px;
}

.account {
  flex: 0 0 31%;
  text-align: end;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}
