.character {
  background-color: #ffffff;
  padding: 1em 3em;
  border-radius: 5px;
}

.form {
  flex: 0 0 30vh;
  &__title {
    text-align: center;
  }
}

.field {
  &__prefix {
    text-align: center;
    width: 110px;
    font-weight: 700;
  }
}
