.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
  &__text {
    color: #ffffff;
    font-weight: 300;
    font-size: 20px;
  }
}
